# 3. Cincinnati Paint Company

¿Ganan más en comisiones por ventas los agentes que recorren más millas y hacen más llamadas?

Variables: 

- Cantidad que ganaron por comisiones el mes anterior (y)
- Numero de millas que recorrieron durante ese mes (x_1)
- Numero de llamadas de ventas del periodo (x_2)

¿Hay una interacción significativa entre el numero de llamadas de ventas y las millas recorridas?

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv("CincinnatiPaintCompany.csv")
df.head()

   Commissions  Calls  Driven
0           22    139    2371
1           13    132    2226
2           33    144    2731
3           38    142    3351
4           23    142    2289

In [ ]:
# Determinar variables independientes
x = df[["Calls", "Driven"]]
x

    Calls  Driven
0     139    2371
1     132    2226
2     144    2731
3     142    3351
4     142    2289
5     142    3449
6     138    3114
7     139    3342
8     144    2842
9     134    2625
10    135    2121
11    137    2219
12    146    3463
13    146    3290
14    144    3103
15    147    2122
16    144    2791
17    149    3209
18    131    2287
19    144    2848
20    132    2690
21    132    2933
22    127    2671
23    154    2988
24    147    2829

In [4]:
# Determinar variable dependiente
y = df[["Commissions"]]
y

    Commissions
0            22
1            13
2            33
3            38
4            23
5            47
6            29
7            38
8            41
9            32
10           20
11           13
12           47
13           38
14           44
15           29
16           38
17           37
18           14
19           34
20           25
21           27
22           25
23           43
24           34

In [6]:
# Ajustando el modelo para encontrar el modelo de regresion múltiple
model = LinearRegression()
model.fit(x,y)
y_pred = model.predict(x)

# Error de la media cuadrática
mse = mean_squared_error(y, y_pred)

# Varianza
r2 = r2_score(y, y_pred)

print("Error de la media cuadrática: ", mse)
print("Varianza: ", r2)

Error de la media cuadrática:  16.313412727936065
Varianza:  0.8352686374291524

In [7]:
# Valor de intersección
model.intercept_

array([-101.31444968])

In [8]:
# Coeficientes
print("Coeficientes son:", model.coef_)
print("Error cuadratico: ", mse)
print("Varianza", r2)

Coeficientes son: [[0.63233256 0.01568925]]
Error cuadratico:  16.313412727936065
Varianza 0.8352686374291524

In [17]:
# ¿Ganan más en comisiones por ventas los agentes que recorren más millas y hacen más llamadas?
Y = model.predict([[149, 2776]])
print("Ganancia estimada de comisión según llamadas y millas:", Y)

Ganancia estimada de comisión según llamadas y millas: [[36.45647132]]

c:\Users\migue\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(