1. Determinar las variables independientes.
2. Determinar la variable dependiente.
3. Obtener el valor de intersecci처n.
4. Estimar el corto de calefacci처n para una temperatura externa media de 30째, 5 pulgadas de aislamiento y un calentador con antig체edad

In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
df = pd.read_csv("ConstructorInmobiliario.csv")
df.head()

   Family  SqrFt  Income  Size  Senior  Education
0       1   2240    60.8     2       0          4
1       2   2380    68.4     2       1          6
2       3   3640   104.5     3       0          7
3       4   3360    89.3     4       1          0
4       5   3080    72.2     4       0          2

In [5]:
x = df[["Income","Size","Senior","Education"]]
x

   Income  Size  Senior  Education
0    60.8     2       0          4
1    68.4     2       1          6
2   104.5     3       0          7
3    89.3     4       1          0
4    72.2     4       0          2
5   114.0     3       1         10
6   125.4     6       0          6
7    83.6     3       0          8
8   133.0     5       0          2
9    95.0     3       0          6

In [6]:
y = df[["SqrFt"]]
y

   SqrFt
0   2240
1   2380
2   3640
3   3360
4   3080
5   2940
6   4480
7   2520
8   4200
9   2800

In [7]:
model = LinearRegression()
model.fit(x,y)
y_pred = model.predict(x)


mse = mean_squared_error(y,y_pred)
r2 = r2_score(y,y_pred)

In [8]:
model.intercept_

array([879.3937802])

In [9]:
print("Coeficientes son:", model.coef_)
print("Error cuadratico: ", mse)
print("Varianza", r2)

Coeficientes son: [[ 16.32862748 274.68232141 -83.04632698 -38.60445866]]
Error cuadratico:  44524.864449813016
Varianza 0.9134269528337072

In [14]:
Y = model.predict([[60.8,2,0,4]])
print("La relacion es:", Y)

La relacion es: [[2267.12113914]]

C:\Users\jedua\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(